.Title{
    padding: 10%;
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
}

.span{
    background-color: #2ad167;
    color: #f7f8f9;
    border-radius: 20%;
}

.demo{
    background-color: #2ad167;
    color: #f7f8f9;
    border-radius: 15%;
}

.circulo{
    position: absolute;
    top: 9%;
    left: 33%;
}

.puntos{
    position: absolute;
    bottom: 5%;
    left: 78%;
}

.imgMateriales{
    width: 100%;
}

.imgprincipal{
    width: 100%;
}

@media screen  and (max-width: 390px){
    .Title{
        display: flex;
        flex-direction: column;
    }

    .circulo{
        display: none;
    }

    .puntos{
        display: none;
    }
    
}