.footerContenedor{
    background-color: #2a3342;
    color: #93a1b6;
}

.titlefooter{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #f7f8f9;
}

.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.end{
    text-align: center;
    padding-top: 3%;
}

.logoFooter{
    width: 4%;
}

@media screen  and (max-width: 390px){
    .footerContenedor{
        display: flex;
        flex-direction: column;
    }
    
}